@import 'variables.scss';

@mixin phone {
  @media screen and (max-width: $mobile-cutoff) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet-cutoff) {
    @content;
  }
}

@mixin largerThanPhone {
  @media screen and (min-width: $mobile-cutoff) {
    @content;
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin blueBorder {
  box-sizing: border-box;
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 2rem;
}
