/* colors */
$body-color: black;
$gradient-transparent: linear-gradient(to right, #004f99cc, #008545cc);
$gradient: linear-gradient(to right, #004f99, #008545);
$description-background: #00000099;
$shadow: 5px 5px 20px rgba(0, 0, 0, 0.75);

/* font */
$font-large: 36px;
$font-medium: 22px;
$font-small: 18px;
$font-stack: 'Comfortaa', Arial, serif;

/* sizing */
$header-height: 4rem;
$footer-height: 12rem;
$mobile-cutoff: 768px;
$tablet-cutoff: 1200px;
