/* colors */
$body-color: #101010;
$footer-text-color: #999999;
$primary-color: #a0bfeb;
$header-color: #a0bfebcc;
$description-background: #2d3644cc;

/* font */
$font-large: 36px;
$font-medium: 22px;
$font-small: 18px;
$font-stack: 'Comfortaa', Arial, serif;

/* sizing */
$header-height: 4rem;
$footer-height: 12rem;
$mobile-cutoff: 768px;
$tablet-cutoff: 1200px;
