/* styling for desktop website */
@media (min-width: 720px) {

    /* canvas that contains conway's game of life */
    canvas {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
        overflow: hidden;
    }

    /* div that holds about page information */
    .content_div {
        flex: 33.33%;
        float: left;
        padding: 1.5em;
        line-height: 1.5;
        border-radius: 1em;
        margin: 0.5em;
        box-shadow: var(--drop-shadow);
    }

    /* website header */
    .header {
        position: sticky;
        height: 3em;
        max-width: 100%;
        min-width: 50em;
        margin-top: 2.4em;
        top: 0;
        z-index: 2;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
        background: var(--header-gradient);
    }

    /* container that holds project information */
    .project_div {
        display: block;
        flex: 50%;
        font-size: 28px;
        height: 15em;
        padding: 0;
        border: 2px solid #555;
        line-height: 1.5;
        border-radius: 1em;
        margin: 0.5em;
        box-shadow: var(--drop-shadow);
    }

    /* adds box shadow when project div is hovered over */
    .project_div:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        color: var(--prim-color);
    }

    /* defines div rows used on all pages */
    .row {
        display: flex;
        max-width: 65em;
        min-width: 50em;
        margin: auto;
        padding-top: 1em;
    }

    /* container that contains conway canvas */
    #canvas_container {
        z-index: -1;
        width: 100%;
        height: 5em;
    }

    /* footer of website */
    #footer {
        padding: 2em;
        line-height: 1.5;
        background: #EEE;
    }

    /* contains all header links */
    #link_container {
        display: flex;
        width: 40em;
        height: 100%;
        margin: auto;
    }

    /* main body of website where most text lies */
    #main_body {
        position: relative;
        z-index: 1;
        max-width: 100%;
        min-width: 50em;
        margin: auto;
        height: auto;
        background: #FFFFFF;
        padding-bottom: 2em;
    }

    /* hides logo that's meant only for mobile */
    #mobile_logo {
        display: none;
    }

    /* title of website */
    #title {
        position: relative;
        top: 0;
        margin-top: 1.2em;
        color: #FFFFFF;
        font-size: 3em;
        text-shadow: var(--drop-shadow);
        z-index: 1;
    }
}