/* reset browser defaults */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

/* configure links */
a, a:visited, a:hover {
    color: black;
    text-decoration: none;
}

/* set parameters for website body */
body {
    width: 100%;
    height: 100%;
    font-family: Montserrat, Arial, serif;
    font-size: 18px;
    text-align: center;
    background-color: #25a7ce;
}

/* canvas that contains conway's game of life */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
}

/* div that holds about page information */
.content_div {
    flex: 33.33%;
    float: left;
    padding: 1.5em;
    line-height: 1.5;
    border-radius: 1em;
    margin: 0.5em;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

/* content div text */
.content_div p {
    font-size: 24px;
    text-align: center;
}

/* content div images */
.content_div img {
    float: top;
    height: 3em;
}

/* website header */
.header {
    position: relative;
    z-index: 2;
    max-width: 100%;
    min-width: 50em;
    top: 3em;
    height: 3em;
    background: #00596b;
    overflow: hidden;
}

/* website header when at top of page */
/*noinspection CssUnusedSymbol*/
.header_sticky {
    position: sticky;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    top: 0;
    width: 100%;
}

/* container that holds images used by links on header */
.image_container {
    flex: 25%;
    float: left;
    padding: 0.25em;
}

/* sets header link image size */
.image_container img {
    height: 2.5em;
}

/* container that holds project information */
.project_div {
    display: block;
    flex: 50%;
    font-size: 28px;
    height: 15em;
    padding: 0;
    border: 2px solid black;
    line-height: 1.5;
    border-radius: 1em;
    margin: 0.5em;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

/* adds box shadow when project div is hovered over */
.project_div:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    color: #267ca0;
}

/* text that is located on project divs */
.project_text {
    width: 80%;
    border-radius: 0 0 1em 1em;
    border: 2px solid black;
    margin: auto;
    padding: 0.2em;
    background: white;
}

/* defines div rows used on all pages */
.row {
    display: flex;
    max-width: 65em;
    min-width: 50em;
    margin: auto;
    padding-top: 1em;
}

/* title for each section of website */
.section_title {
    text-align: center;
    padding-top: 1.5em;
    font-size: 2em;
    color: #555555;
}

/* container that contains conway canvas */
#canvas_container {
    width: 100%;
    height: 5em;
}

/* footer of website */
#footer {
    padding: 2em;
    line-height: 1.5;
    background: #CCC;
}

/* contains all header links */
#link_container {
    display: flex;
    width: 40em;
    height: 100%;
    margin: auto;
}

/* main body of website where most text lies */
#main_body {
    position: relative;
    z-index: 1;
    max-width: 100%;
    min-width: 50em;
    margin: 1em auto auto auto;
    height: auto;
    background: #FFFFFF;
    padding-bottom: 2em;
}

/* hides logo that's meant only for mobile */
#mobile_logo {
    display: none;
}

/* title of website */
#title {
    position: relative;
    top: 0;
    margin-top: 1.2em;
    color: #FFFFFF;
    font-size: 3em;
    z-index: 1;
}