@import "../../constants.module.scss";

.outerHeader {
  @include header-border;
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
  padding: $large-border;
  background: $header-color;
}

.innerHeader {
  @include menu-border;
  background: $content-color;
  padding: 0.5rem;
  height: 4rem;

  img {
    float: left;
    width: auto;
    height: 100%;
    padding: 0.25rem;
  }
}

.nav {
  @include flex-vertical-center;
  float: right;
  height: 100%;
}

.nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-left: $window-spacing / 2;
  padding: 0;
  line-height: 0;
  color: black;
}

.nav a:hover {
  color: $header-border-color2;
  cursor: pointer;
}

.nav img {
  width: auto;
  height: 3rem;

  @media screen and (max-width: 640px) {
    height: 2rem;
  }
}

.verticalSeparator {
  display: inline-block;
  width: 1px;
  height: 2.5rem;
  background-color: $header-border-color2;
  margin-left: $window-spacing / 2;
}

@media screen and (max-width: 1024px) {
  .pageLinks,
  .verticalSeparator {
    display: none;
  }
}
