@import "../../constants.module.scss";

.header {
  @include double-border(3px, #d1d1d2, #4e4e4e);
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
  height: 4rem;
  background: #c6b2a8;
  padding: 0.75rem;
}

.header img {
  width: auto;
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
  float: right;
  height: 100%;
}

.nav a {
  transition: 0.1s;
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-left: $spacing;
  padding: 0;
  line-height: 0;
}

.nav a:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.nav img {
  width: auto;
  height: 2rem;
}

.verticalSeparator {
  display: inline-block;
  width: 1px;
  height: 2rem;
  background-color: white;
  margin-left: $spacing;
}

@media screen and (max-width: 1024px) {
  .pageLinks,
  .verticalSeparator {
    display: none;
  }
}
