@import "../../constants.module.scss";

.outerHeader {
  @include header-border;
  z-index: 3;
  position: sticky;
  top: 0;
  width: 100%;
  padding: $border-size * 2;
  background: $header-color;
}

.innerHeader {
  display: grid;
  grid-template-columns: 1fr minmax(auto, $page-links-width) 1fr;
  grid-template-rows: $header-height;
  background: $content-color;

  @include mobile {
    grid-template-columns: 1fr auto;
  }
}

.logo,
.externalLinks {
  @include flex-vertical-center;
  @include menu-border;
  padding: $header-padding;
}

.logo {
  @include mobile {
    @include flex-center;
  }
}

.pageLinks {
  @include menu-border;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: $page-links-spacing;
  padding: $page-links-spacing;
  background: $menu-color;

  a {
    @include flex-center;
    @include double-border(
      $page-links-border-color1,
      $page-links-border-color2
    );
    background-color: $page-links-color;
    color: white;
  }

  a:hover {
    @include double-border(
      $page-links-border-color2,
      $page-links-border-color1
    );
  }

  @include mobile {
    display: none;
  }
}

.externalLinks {
  justify-content: right;

  .iconLink {
    margin-left: $header-icon-spacing;

    &:first-child {
      margin-left: 0;
    }
  }
}

.iconLink img {
  @include flex-center;
  width: auto;
  height: $header-height - $header-padding * 2;

  &:hover {
    outline: $header-icon-border;
  }
}
