@import '../../../variables';

button {
  height: 100%;
  padding: 1.2em;
  background: transparent;
  border: none;
  outline: none;
  transition: 0.2s;
  margin: 0 1em;

  img {
    float: top;
    height: 100%;
  }

  @media screen and (min-width: $mobile-cutoff) {
    &:hover {
      cursor: pointer;
      filter: brightness(70%);
    }
  }

  @media screen and (max-width: $mobile-cutoff) {
    height: $header-height;
    margin: 0 0.5em;
    padding: 1em;
  }
}
