@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

button {
  height: 100%;
  padding: 1em;
  background: transparent;
  border: none;
  outline: none;
  transition: 0.2s;
  margin: 0 1em;

  img {
    float: top;
    height: 100%;
  }

  @include largerThanPhone {
    &:hover {
      cursor: pointer;
      filter: brightness(80%);
      transform: scale(1.1);
    }
  }

  @include phone {
    height: $header-height;
    padding: 0.7em;
  }
}
