@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

button {
  height: 100%;
  padding: 0.75rem;
  background: transparent;
  border: none;
  outline: none;
  transition: 0.2s;
  margin: 0 0.75rem;

  img {
    float: top;
    height: 100%;
  }

  @include largerThanPhone {
    margin: 0 1rem;

    &:hover {
      cursor: pointer;
      filter: brightness(80%);
      transform: scale(1.1);
    }
  }

  @include phone {
    height: $header-height;
    padding: 0.7rem;
  }
}
