@import '../../styles/variables.scss';

#header-background {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border-radius: 0 0 3em 3em;
  padding: calc(12vh + 2em) 0 12vh 0;

  @media screen and (max-width: $mobile-cutoff) {
    padding: 4em 0 1em 0;
  }
}

#header-info {
  margin: auto;
  box-sizing: border-box;
  max-width: 64em;
  width: 100%;
  height: auto;
  padding: 2em;
  line-height: 1.5;

  img {
    height: 24vh;
    border-radius: 50%;
  }

  #about {
    margin-top: 0.5em;
    font-size: 2.5vh;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }
}
