@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

#header-background {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border-radius: 0 0 3em 3em;
  padding: calc(12vh + 2em) 0 12vh 0;
  background: url('../../../assets/images/header.jpg') center;
  background-size: cover;
  background-repeat: none;

  @include phone {
    padding: 4em 0 1em 0;
  }
}

#header-info {
  margin: auto;
  box-sizing: border-box;
  max-width: 64em;
  width: 100%;
  height: auto;
  padding: 2em;
  line-height: 1.5;

  img {
    height: 24vh;
    border-radius: 50%;
  }

  #about {
    margin-top: 0.5em;
    font-size: 2.5vh;
    color: $body-color;
  }
}
