<div
  *ngIf="!isVideo()"
  class="item"
  [ngStyle]="{
    background: 'url(' + img + ') center',
    'background-size': 'cover'
  }"
  [class.item-link]="link !== undefined"
  (click)="open(link)"
>
  <div class="description">
    <h1>{{ title }}</h1>
    <div [innerHTML]="description"></div>
    <img
      class="link-icon"
      src="assets/imgs/link.svg"
      alt="link"
      *ngIf="link !== undefined"
    />
  </div>
</div>

<div *ngIf="isVideo()" class="item">
  <iframe
    [src]="link | sanitize"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
