/* reset browser defaults */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

/* body of webpage */
body {
	height: 100%;
	width: 100%;
	background: #DFDFDF;
	font-family: "Raleway", "Sans-Serif";
}

/* link */
a:link, a:visited {
	text-decoration: none;
	color: #0e65e5;
}

/* address */
address {
	text-align: center;
	font-size: 18px;
}

/* button */
input {
	border-radius: 2em;
	background: #DFDFDF;
	box-shadow: 3px 3px 3px #888888;
	padding: 0.3em 0.5em 0.3em 0.5em;
	font-size: 20px;
}

/* text */
p {
	font-size: 20px;
	text-align: justify;
}

/* unordered list */
ul {
	font-size: 20px;
	padding-left: 1em;
}

/* webpage header */
#header {
	position: fixed;
	width: 100%;
	height: 3.5em;
	top: 0;
	background: #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
	z-index: 2;
}

/* information on webpage */
#info_block, #info_block_proj {
	height: auto;
	margin-bottom: 1em;
	padding: 3em 1.5em;
	background: #FFFFFF;
	border-radius: 1em;
	line-height: 1.7;
}

#info_block div, #info_block_proj div {
	text-align: center;
}

#info_block img, #info_block_proj img {
	width: 100%;
}

/* information title */
#info_title {
	text-align: center;
	font-size: 2em;
	color: #0e65e5;
}

/* oval that holds links to other pages */
#link_container {
	position: fixed;
	display: inline-block;
	bottom: 0;
	width: 100%;
	text-align: center;
	line-height: 3em;
	height: 3em;
	background: #FFFFFF;
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.25);
	z-index: 3;
}

/* links to other pages */
#link_container img {
	position: relative;
	height: 2.5em;
	margin: 0 2em;
	vertical-align: middle;
}

/* website logo */
#logo {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50%;
	margin: auto;
}

/* main body of webpage below header */
#middle, #middle_proj {
	position: relative;
	margin: 2.2em auto;
	height: auto;
	z-index: 0;
}

/* image of author */
#profile_image {
	display: block;
	margin: auto;
	width: 60% !important;
}

/* previously used color 3e70c1 */