@import '../../../variables';

.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: $footer-height;
  line-height: 1.5;
  color: $footer-text-color;
  font-weight: bold;
  font-size: 20px;

  a {
    color: cornflowerblue;
    text-decoration: none;
  }
}
