@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.footer {
  @include flexCenter;
  @include gradientBackground;
  flex-direction: column;
  line-height: 1.5;
  font-weight: bold;
  padding: 4rem;
  font-size: $font-medium;
  width: calc(100% - 2vw);
  margin: 1vw;
  border-radius: 2rem;

  @include phone {
    width: 100%;
    margin: 0.5rem 0;
    padding: 4rem 2rem;
    font-size: $font-small;
  }

  a {
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
    text-decoration: none;
  }
}
