@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.footer {
  @include flexCenter;
  @include blueBorder;
  flex-direction: column;
  line-height: 1.5;
  font-weight: bold;
  padding: 4rem;
  font-size: $font-medium;
  width: calc(100% - 1vw);
  margin: 0.5vw auto;

  @include phone {
    width: 100%;
    margin: 0.5rem 0;
    padding: 4rem 2rem;
    font-size: $font-small;
  }

  a {
    color: white;
    text-decoration: none;
  }
}
