@import "../../constants.module.scss";

.footer {
  padding: $window-spacing * 2 0;
  font-size: $large-font-size;
  line-height: 1.5;
  text-align: center;
  color: white;

  a {
    color: $window-border-color1;

    &:hover {
      color: $window-color;
    }
  }
}
