@import "../../constants.module.scss";

.footer {
  width: 100%;
  font-size: $large-font-size;
  line-height: 1.5;
  text-align: center;
  padding-top: $window-spacing * 2;
  padding-bottom: $window-spacing;
  color: white;

  a {
    color: $window-border-color1;

    &:hover {
      color: $window-color;
    }
  }
}
