a {
  color: white;
  transition: 0.3s;
  margin: 0 0.8em;
  text-decoration: none;

  &:hover {
    color: #CCC;
    transition: 0.3s;
  }
}

img {
  float: left;
  height: 100%;
  margin-left: 0.5em;
}

nav {
  @media screen and (min-width: 700px) {
    float: right;
    line-height: 3em;
  }

  @media screen and (max-width: 700px) {
    display: none;
  }
}

.drop_down_menu {
  @media screen and (min-width: 700px) {
    display: none;
  }

  @media screen and (max-width: 700px) {
    float: right;
    height: 100%;
    background: transparent;
    font-size: 28px;
    color: whitesmoke;
    width: 2em;
  }
}
