@import '../../../variables';

a {
  color: white;
  transition: 0.3s;
  margin: 0 0.8em;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  &:hover {
    color: #CCC;
    transition: 0.3s;
  }
}

header {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4em;
  transition: 0.3s;
  background: transparent;

  img {
    float: left;
    height: 4em;
    margin-left: 0.3em;
  }
}

nav {
  @media screen and (min-width: $screen-cutoff) {
    float: right;
    line-height: 4em;
  }

  @media screen and (max-width: $screen-cutoff) {
    height: 0;
    width: 100%;
    transition: 0.3s;
    overflow: hidden;
    border-radius: 0 0 1em 1em;

    a {
      display: block;
      width: 100%;
      font-size: 20px;
      margin: 1em 0;
    }
  }
}

.header_scroll {
  background: #00C8FFaa;
  backdrop-filter: blur(10px);

  /* firefox only */
  @-moz-document url-prefix() {
    background: #00C8FF !important;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  }
}

.header_with_menu {
  height: 24em;
  border-radius: 0 0 3em 3em;
}

.menu_icon {
  @media screen and (min-width: $screen-cutoff) {
    display: none;
  }

  @media screen and (max-width: $screen-cutoff) {
    float: right;
    height: 2em;
    width: 2em;
    margin: 1em 1em;
  }
}

.menu_icon_bar {
  width: 100%;
  height: 0.2em;
  background: white;
  transition: 0.3s;

  &:nth-child(1) {
    margin-top: .6em;
  }

  &:nth-child(2) {
    margin-top: .4em;
  }
}

.menu_height {
  height: 18em;

  a {
    margin: 1.5em 0;
  }
}

.rotate {
  &:nth-child(1) {
    transform: translate(0, 0.3em);
  }

  &:nth-child(2) {
    transform: translate(0, -0.3em);
  }
}
