@import '../../../variables';

/* row styles */
.row {

  /* desktop styles */
  @media screen and (min-width: $screen-cutoff) {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 65em;
    min-width: 40em;
    margin: auto;
    flex-direction: row;
    align-items: stretch;
  }

  @media screen and (max-width: $screen-cutoff) {
    flex-direction: column;
  }
}
