/* container that holds project information */
.project {
  position: relative;
  display: inline-block;
  width: 30em;
  height: 24em;
  padding: 0;
  line-height: 1.5;
  border-radius: 2em;
  margin: 0.5em;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

/* adds box shadow when project div is hovered over */
.project:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  color: #0055ff;
}

/* text that is located on project divs */
.projectText {
  position: absolute;
  width: 12em;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 1em 1em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  padding: 0.2em;
  font-size: 28px;
  background: #3A3A3A;
}
