.project {
  padding: 0;
  line-height: 1.5;
  border-radius: 2em;
  margin: 0.5em;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);

  /* desktop styles */
  @media screen and (min-width: 700px) {
    position: relative;
    display: inline-block;
    height: 24em;
    width: 30em;
  }

  /* mobile styles */
  @media screen and (max-width: 700px) {
    display: block;
    height: 18em;
    line-height: 1.5;
  }
}

/* adds box shadow when project div is hovered over */
.project:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  color: #0055ff;
}

/* text that is located on project divs */
.projectText {
  padding: 0.2em;
  font-size: 28px;
  border-radius: 0 0 1em 1em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);

  /* desktop styles */
  @media screen and (min-width: 700px) {
    position: absolute;
    width: 12em;
    left: 50%;
    transform: translateX(-50%);
  }

  /* mobile styles */
  @media screen and (max-width: 700px) {
    width: 70%;
    margin: auto;
  }
}
