@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.main {
  @include phone {
    padding: 0.5rem 0;
  }

  @include largerThanPhone {
    padding: 0.5rem;
    max-width: 100rem;
    margin: auto;
  }
}

.info-group {
  @include flexCenter;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
