@import '../../../variables';

h1 {
  font-size: 24px;
  font-weight: normal;
  color: whitesmoke;
}

.info_block, .app_info_link {
  flex: 30%;
  display: block;
  line-height: 1.5;
  height: 20em;
  float: bottom;
  margin: 1em;
  flex-grow: 1;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.70);
  border-radius: 2em;
  overflow: hidden;

  /* safari only */
  @media not all and (min-resolution:.001dpcm) {
    backdrop-filter: blur(0);
  }

  @media screen and (max-width: $screen-cutoff) {
    flex: 100%;
    box-shadow: none;
    margin: 0.5em 0;
  }
}

#content {
  margin: auto;
  max-width: 80em;
}

.app_info_link:hover {
  box-shadow: 0 0 20px #0b96e0;
}

.description {
  width: 100%;
  padding: 0.5em 1em;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  text-align: left;
  color: whitesmoke;

  /* firefox only */
  @-moz-document url-prefix() {
    background: rgba(0, 0, 0, 0.7) !important;
  }
}

.info_block_group {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.section_title {
  width: available;
  padding: 1em;
  font-size: 32px;
  color: whitesmoke;
  overflow: hidden;
}
