<div id="content">

  <!-- info block groups -->
  <div *ngFor="let infoBlockGroup of getInfoBlockGroups()">
    <div class="section_title">
      <p>{{infoBlockGroup.title}}</p>
    </div>

    <!-- info blocks -->
    <div class="info_block_group">
      <div class="info_block" *ngFor="let info of infoBlockGroup.infoBlockArr"
                [class.app_info_link]="info.link != undefined"
                [ngStyle]="{'background': 'url(' + info.backgroundImg + ') center',
                          'background-size': 'cover'}"
                (click)="open(info.link)">
        <div class="description">
          <h1>{{info.title}}</h1>
          <p>{{info.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- website footer w/ description and contact info -->
<div class="footer">
  <p>{{about}}</p>
  <p>{{contact}}</p>
  <p>{{lastUpdated}}</p>
</div>
