@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.section-title {
  font-size: $font-large;
  color: $text-color;
  padding: 2rem;
  margin: 1vw;
  border-radius: 2rem;
  background: $primary-color;
  box-sizing: border-box;
  box-shadow: $box-shadow;

  @include phone {
    padding: 1rem;
    margin: 0.5rem 0;
    width: 100%;
  }
}
