$header-color: #999999;
$header-border-color1: #d1d1d2;
$header-border-color2: #4e4e4e;
$window-color: #eda870;
$window-border-color1: #f7d9c0;
$window-border-color2: #7d593b;
$menu-color: #4992a7;
$menu-font-color: white;
$menu-border-color1: #adced7;
$menu-border-color2: #244953;
$content-color: #c6b2a8;
$content-border-color1: #e7deda;
$content-border-color2: #6a605a;
$page-links-color: #8998aa;
$page-links-border-color1: #cad1d9;
$page-links-border-color2: #464d56;
$background-color: #4992a7;
