$header-color: #8CA3B1;
$header-border-color1: lighten($header-color, 20%);
$header-border-color2: darken($header-color, 20%);
$window-color: #2C7063;
$window-border-color1: lighten($window-color, 20%);
$window-border-color2: darken($window-color, 20%);
$menu-color: #8CA3B1;
$menu-font-color: black;
$menu-border-color1: lighten($menu-color, 20%);
$menu-border-color2: darken($menu-color, 20%);
$content-color: #8CA3B1;
$content-border-color1: lighten($content-color, 20%);
$content-border-color2: darken($content-color, 20%);
$page-links-color: #2c6f8f;
$page-links-border-color1: lighten($page-links-color, 30%);
$page-links-border-color2: darken($page-links-color, 20%);
$background-color: #173855;
