@import '../../../variables';

.row {
  @media screen and (min-width: $screen-cutoff) {
    display: flex;
    flex-wrap: wrap;
    max-width: 65em;
    min-width: 40em;
    margin: auto;
    align-items: stretch;
  }
}

app-info {
  display: block;
  box-sizing: border-box;
  float: left;
  border-radius: 2em;
  line-height: 1.5;
  margin: 0.5em;
  box-shadow: $drop-shadow;
  background: $content-color;

  @media screen and (min-width: $screen-cutoff) {
    flex: 33%;
    padding: 1.5em;
  }

  @media screen and (max-width: $screen-cutoff) {
    padding: 2em;
    width: 100%;
  }
}
