/* cde colors */
$header-color: #999999;
$header-border-color1: #d1d1d2;
$header-border-color2: #4e4e4e;
$window-color: #eda870;
$window-border-color1: #f7d9c0;
$window-border-color2: #7d593b;
$menu-color: #4992a7;
$menu-font-color: white;
$menu-border-color1: #adced7;
$menu-border-color2: #244953;
$content-color: #c6b2a8;
$content-border-color1: #e7deda;
$content-border-color2: #6a605a;
$page-links-color: #8998aa;
$page-links-border-color1: #cad1d9;
$page-links-border-color2: #464d56;
$background-color: #4992a7;

/* solaris colors */
// $header-color: #adb5c6;
// $header-border-color1: #dedee7;
// $header-border-color2: #5c6373;
// $window-color: #b54a7b;
// $window-border-color1: #deadc6;
// $window-border-color2: #522139;
// $menu-color: #adb5c6;
// $menu-font-color: black;
// $menu-border-color1: #dedee7;
// $menu-border-color2: #5c6373;
// $content-color: #adb5c6;
// $content-border-color1: #dedee7;
// $content-border-color2: #5c6373;
// $page-links-color: #63639c;
// $page-links-border-color1: #b5b5d6;
// $page-links-border-color2: #29294a;
// $background-color: #524a8c;

/* font sizes */
$small-font-size: 12px;
$medium-font-size: 16px;
$large-font-size: 20px;

/* dimensions */
$window-spacing: 1.5rem;
$card-spacing: 0.5rem;
$border-size: 1.75px;
$banner-margin: 2rem;
$banner-margin-mobile: 1rem;
$profile-size: 16rem;
$profile-size-mobile: 12rem;
$description-padding: 1rem;
$description-shadow: 0 0 4px black;
$title-bar-height: 2rem;
$corner-size: calc($title-bar-height + $border-size * 3);
$mobile-cutoff: 640px;

:export {
  cardSpacing: $card-spacing;
  smallFontSize: $small-font-size;
  mediumFontSize: $medium-font-size;
  largeFontSize: $large-font-size;
}

@mixin mobile {
  @media screen and (max-width: $mobile-cutoff) {
    @content;
  }
}

@mixin flex-center {
  @include flex-vertical-center;
  justify-content: center;
}

@mixin flex-vertical-center {
  display: flex;
  align-items: center;
}

@mixin double-border($color1, $color2) {
  border-top: $border-size solid $color1;
  border-left: $border-size solid $color1;
  border-bottom: $border-size solid $color2;
  border-right: $border-size solid $color2;
}

@mixin header-border {
  @include double-border($header-border-color1, $header-border-color2);
}

@mixin window-border {
  @include double-border($window-border-color1, $window-border-color2);
}

@mixin menu-border {
  @include double-border($menu-border-color1, $menu-border-color2);
}

@mixin content-border {
  @include double-border($content-border-color1, $content-border-color2);
}
