@import "./constants.module.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-width: $min-width;
  background-color: $background-color;
  color: black;
}

a {
  text-decoration: none;
}
