.main {
  max-width: 80rem;
  width: 100%;
  padding: 0 var(--spacing);
  margin: var(--spacing) auto;
}

.footer {
  width: 100%;
  font-size: 20px;
  line-height: 1.5;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  margin-top: var(--spacing);
  text-align: center;
  padding: 4rem;
}
