@import '../variables';

.header-img {
  display: block;
  position: relative;
  width: 100%;
  height: 50vh;
  background: url('../assets/img/main/header_img.jpg') center;
  background-size: cover;
  border-radius: 0 0 3em 3em;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
    border-radius: 50%;
    margin-top: 1.5em;
  }

  @media screen and (max-width: $screen-cutoff) {
    height: 40vh;
  }
}
