<div id="banner">
  <div id="profile">
    <img src="assets/images/profile.jpg" alt="Picture of me :)" />
    <p id="about">
      Hello! My name is Paul Scott. I am a full-stack software engineer at
      Merly. I obtained my master's in computer and information science at the
      University of Pennsylvania, and I obtained my bachelor's degree in
      computer science from Penn State. My areas of interest are computer
      graphics, machine learning, distributed systems, emulation, software
      engineering, and web development.
    </p>
  </div>
</div>
