@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

#banner {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border-radius: 0 0 1rem 1rem;
  padding: calc(10vh + 2rem) 0 10vh 0;
  background: $primary-color-transparent
    url('../../../assets/imgs/banner/banner.jpg');
  background-size: cover;
  margin-bottom: 0.5rem;
  box-shadow: $box-shadow;

  @include phone {
    padding: 4rem 0 1rem 0;
    border-radius: 0 0 2rem 2rem;
  }
}

#profile {
  margin: auto;
  box-sizing: border-box;
  max-width: 64rem;
  width: 100%;
  height: auto;
  padding: 1rem;
  line-height: 1.5;

  img {
    height: 25vh;
    max-height: 20rem;
    border-radius: 25%;
    margin-bottom: 1rem;
    border: solid 6px $text-color;
  }

  #about {
    margin: 0.5rem;
    font-size: $font-medium;
    color: $text-color;
    text-shadow: 0 0 5px black;

    @include phone {
      font-size: $font-banner-mobile;
    }
  }
}
