@import "../../constants.module.scss";

.outerWindow {
  @include outer-window-border($large-border);
  margin-top: $window-spacing;
  background: $window-color;
  padding: 4px;

  @media screen and (max-width: 640px) {
    margin-top: 0.5rem;
  }
}

.innerWindow {
  @include double-border(
    $small-border,
    $window-border-color2,
    $window-border-color1
  );
}

.content {
  @include content-border;
  background: $content-color;
}

.titleBar {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem 2rem;
  grid-template-rows: 2rem;
  text-align: center;
  font-size: $medium-font-size;
}

.title {
  @include outer-window-border($small-border);
  @include flex-center;
  color: white;
  overflow: hidden;
}

.menu {
  @include double-border(
    $small-border,
    $menu-border-color1,
    $menu-border-color2
  );
  display: flex;
  align-items: center;
  height: 2.5rem;
  background-color: $menu-color;
  font-size: $medium-font-size;

  span {
    margin-left: 1rem;
  }
}

.button {
  @include outer-window-border($small-border);
  @include flex-center;

  div {
    @include outer-window-border($small-border);
  }
}

.close {
  float: left;

  div {
    width: 1.2rem;
    height: 0.4rem;
  }
}

.minimize,
.maximize {
  float: right;
}

.minimize div {
  width: 0.4rem;
  height: 0.4rem;
}

.maximize div {
  width: 1.2rem;
  height: 1.2rem;
}
