@import "../../constants.module.scss";

.outerWindow {
  @include window-border;
  position: relative;
  margin-top: $window-spacing;
  background: $window-color;
  padding: 4px;

  @include mobile {
    margin-top: 0.5rem;
  }
}

.innerWindow {
  @include double-border($window-border-color2, $window-border-color1);
  z-index: 2;
  position: relative;
}

.content {
  @include content-border;
  background: $content-color;
}

.titleBar {
  display: grid;
  grid-template-columns: $title-bar-height 1fr $title-bar-height $title-bar-height;
  grid-template-rows: $title-bar-height;
  text-align: center;
  font-size: $medium-font-size;
}

.title {
  @include window-border;
  @include flex-center;
  color: white;
  overflow: hidden;
  white-space: nowrap;
}

.menu {
  @include flex-vertical-center;
  @include menu-border;
  height: 2.5rem;
  color: $menu-font-color;
  background-color: $menu-color;
  font-size: $medium-font-size;

  span {
    margin-left: 1rem;
  }
}

.button {
  @include flex-center;
  @include window-border;

  div {
    @include window-border;
  }
}

.close {
  float: left;

  div {
    width: 1.2rem;
    height: 0.4rem;
  }
}

.minimize,
.maximize {
  float: right;
}

.minimize div {
  width: 0.4rem;
  height: 0.4rem;
}

.maximize div {
  width: 1.2rem;
  height: 1.2rem;
}

.itemCount {
  @include flex-vertical-center;
  @include content-border;
  background: $content-color;
  height: $title-bar-height;
  font-size: 20px;
  padding-left: $card-spacing;
}

.corners {
  display: grid;
  grid-template-columns: $corner-size 1fr $corner-size;
  grid-template-rows: $corner-size 1fr $corner-size;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  div {
    @include window-border;
  }
}
