@import 'https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap';
@import 'variables';

* {
  padding: 0;
  margin: 0;
  border: 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: $font-stack;
  background: $body-color;
}
