/* colors */
$body-color: #0e0f0f;
$footer-text-color: #999999;
$header-color: #00c8ffaa;
$header-color-firefox: #00c8ffcc;
$description-background: #242424dd;

/* font */
$font-stack: 'Comfortaa', Arial, serif;

/* sizing */
$header-height: 4em;
$footer-height: 12em;
$mobile-cutoff: 768px;
$tablet-cutoff: 1024px;
