/* colors */
$body-color: #101010;
$footer-text-color: #999999;
$header-color: #0082d9aa;
$header-color-firefox: #0082d9cc;
$description-background: #242424dd;

/* font */
$font-stack: 'Comfortaa', Arial, serif;

/* sizing */
$header-height: 4em;
$footer-height: 12em;
$mobile-cutoff: 768px;
$tablet-cutoff: 1200px;
