@import "../../constants.module.scss";

.section {
  margin-top: -1 * ($window-spacing + 3.25rem);
  padding-top: $window-spacing + 3.25rem;
}

.titleBar {
  background: $window-color;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $card-spacing;
  padding: $card-spacing;
}
