@import "../../constants.module.scss";

.section {
  margin-top: calc(-1 * $page-links-anchor-offset);
  padding-top: $page-links-anchor-offset;
}

.titleBar {
  background: $window-color;
}

.cards {
  @include flex-center;
  flex-wrap: wrap;
  gap: $card-spacing;
  padding: $card-spacing;
}
